* {
    margin: 0;
    padding: 0;
}

/* Кнопка Play/Pause в состояние play*/
.play {
    background: red;
}

/* Кнопка Play/Pause в состояние pause*/
.pause {
    background: green;
}

.container {
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.main {
    height: 60%;
    width: 60%;
    display: inline-block;
}


#video-player {
    height: 80%;
    width: 100%;
}

.video-bar {
    width: 100%;
    background: burlywood;
}

#progress {
    width: 100%;
}

#progress-time {

}